
body {
    font-size: 16pt;
    
    background: url('../img/background2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

.jumbotron {
    background-color: #67357F;
}


.jumbotron h1{
    font-size: 125px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 40px;
    padding-top: 20px;
    margin: center;
    color: black;
    /*text-shadow: 2px 2px #d1d1e0 ;*/
    text-shadow: 2px 2px #D4AF37;
}

.jumbotron img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 400px;
    opacity: 50;
}


/*h1 {
    font-family: 'Dancing Script', cursive;
    padding-bottom: 40px;
    padding-top: 20px;
    margin: center;
    text-shadow: 2px 2px #d1d1e0 ;
}*/

.navbar {
  font-family: 'Pacifico', cursive;
  font-size: 140px;

}
  
.nav-wrapper {
   background-color: #67357F;
   font-size: 230px;
}

h2 {
  
  padding-bottom: 40px;
  padding-top: 10px;
  font-size: 100px;

  color: #D4AF37;

  text-align: center;
  text-shadow: 2px 2px #CD853F;
  /*text-shadow: 2px 2px #d1d1e0;*/
  /*animation: type 3s;
  overflow: hidden;
  white-space: nowrap;*/
  font-family: 'Playfair Display', serif;
}
@keyframes type {
  0% {
    width:0ch;
  }
  100% {
    width:15ch;
  }
  from {background-color: white;}
  to {background-color: blue;}
  from {left: 0px;}
  to {right: 0px;}
}

@-webkit-keyframes fade-in{
from{
    opacity:1;
}
to{
    opacity:0;
  }
}

.testimonial-fade-one{

position:relative;
top:0px;
-webkit-animation:fade-in 1s infinite;

}


h3 {
  font-family: 'Dancing Script', cursive;
  padding-bottom: 40px;
  padding-top: 10px;
  font-size: 72px;

  color: blue;

  color:blue;

  text-align: center !important;
}

p {
  font-family: 'Pacifico';
  font-size: 25px;
}

h4 {
  font-family:'Cinzel', serif;
  color: black !important;
  /*text-shadow: 2px 2px blue ;*/
  /*text-shadow: 1px 1px black;*/
  font-weight: bold;
  text-shadow: .5px .5px #D4AF37;

}

h5 {
  font-family: 'Philosopher', sans-serif !important;
  text-align: "justify";
}

h6 {
  font-family: 'Philosopher', sans-serif !important;
  text-align: "justify";
}

.paragraph {
  /*padding-left: 10px;*/
  font-family: 'Pacifico';
  font-size: 24px;
}

.container-beloved h5{
  padding-top: 100px;
  font-family: 'Dancing Script', cursive;
  padding-bottom: 75px;
  font-size: 40px;

  color: blue;

  color:blue;

}

.container-scripture h5{
  padding-top: 100px;
  font-family: 'Dancing Script', cursive;
  padding-bottom: 75px;
  font-size: 40px;

  color: blue;

  color:blue;

}

.container-verily h5{
  padding-top: 100px;
  font-family: 'Dancing Script', cursive;
  padding-bottom: 75px;
  font-size: 40px;
  /*color: #8A2BE2;*/

  /* indigo */
  color: #4B0082 ;
  font-weight: bold;

  /* indigo */
 /* text-shadow: 2px 2px #4B0082;*/

  /* dark orchid */
  text-shadow: 2px 2px #9932CC;
}

.container-quotes h5{
  
  font-family: 'Dancing Script', cursive;
  padding-bottom: 75px;
  font-size: 40px;
  text-align: center;
  /*color: #8A2BE2;*/

  /* indigo */
  color: #4B0082 ;
  font-weight: bold;

  /* indigo */
 /* text-shadow: 2px 2px #4B0082;*/
  
  /* dark orchid */
  text-shadow: 2px 2px #9932CC;
}

hr {
  display: block;
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 5px;
  width: 80%;
  color: blue;

}


hr {
  display: block;
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 5px;
  width: 60%;
  color: blue;

}

#social {
  padding-top: 5em;
}

.container-twitter {
  position: center;
}

.container-youtube {
  position: center;

}




.site-footer {
  padding: 1.5em;
  font-size: 16px;
  font-family: verdana;
  color: pink;
  background-color: #67357F;
  background-size: 100%;
  width: cover;
  clear: left;
  text-align: center;
}